<!DOCTYPE html>
<html lang="en" class="govuk-template ">

  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>


  {% block bodytag %}
  <body class="govuk-template__body">
  {% endblock %}
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

    </script>
    {% block skiplinks %}
    <a href="#main-content" class="govuk-skip-link">{{ 'Skip to main content'|t }}</a>
    {% endblock %}
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
