{% extends 'page.html.twig' %}

{% block main %}

    <section class="govuk-width-container govuk-width-container--narrow">
      {{ page.pre_content }}
    </section>

    <div class="govuk-grid-row">

      {% set content_class = 'govuk-grid-column-full' %}

      {% if page.sidebar_first or page.sidebar_second %}
        {% set content_class = 'govuk-grid-column-three-quarters' %}
      {% endif %}

      {% if page.sidebar_first and page.sidebar_second %}
        {% set content_class = 'govuk-grid-column-one-half' %}
      {% endif %}

      {% if page.sidebar_first %}
        <aside class="govuk-grid-column-one-quarter">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      <main class="{{content_class}}" id="main-content"  role="main">
      {{ page.content }}
      </main>

      {% if page.sidebar_second %}
        <aside class="govuk-grid-column-one-quarter">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}

    </div>
{% endblock %}