<header class="site-header govuk-width-container" role="banner" data-module="header">
    {{ page.header }}
</header>

<div class="govuk-width-container">
  {% if phase_banner %}
    {{  phase_banner }}
  {% endif %}
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content"  role="main">

    {{ page.pre_content }}

    <div class="govuk-grid-row">

      {% set content_class = 'govuk-grid-column-full' %}

      {% if page.sidebar_first or page.sidebar_second %}
        {% set content_class = 'govuk-grid-column-two-thirds' %}
      {% endif %}

      {% if page.sidebar_first and page.sidebar_second %}
        {% set content_class = 'govuk-grid-column-one-third' %}
      {% endif %}

      {% if page.sidebar_first %}
        <div class="govuk-grid-column-one-third">
          <aside role="complementary">
            {{ page.sidebar_first }}
          </aside>
        </div>
      {% endif %}

      <div class="{{content_class}}">
      {{ page.content }}
      </div>

      {% if page.sidebar_second %}
        <div class="govuk-grid-column-one-third">
          <aside role="complementary">
            {{ page.sidebar_second }}
          </aside>
        </div>
      {% endif %}

    </div>

  </main>
</div>

<footer class="site-footer">
  <div class="site-footer__inner govuk-width-container">
    {% if page.footer %}{{ page.footer }}{% endif %}
    <div class="site-footer__logo"><a href="/"><img src="{{ base_path ~ directory }}/assets/images/logos/ncl-star.png" alt="Go to the National Leadership Centre Homepage"></a></div>
    <div class="site-footer__copyright"><a class="copyright" target="_blank" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a></div>
  </div>
</div>
