{% extends 'page.html.twig' %}

{% block main %}

    <section class="govuk-width-container govuk-width-container--narrow">
      {{ page.pre_content }}
    </section>

      {% set content_class = '' %}

      {% if page.sidebar_first %}
        <aside>
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      <main class="{{content_class}}" id="main-content"  role="main">
      {{ page.content }}
      </main>

      {% if page.sidebar_second %}
        <aside>
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
{% endblock %}