{% block header %}
<header class="site-header" role="banner" data-module="header">
    <div class="site-header__first-row">
      <div class="govuk-width-container site-header__first-row-inner">
        {{ page.header }}
      </div>
    </div>
    <div class="site-header__second-row govuk-width-container">
      {% if phase_banner %}
        {{  phase_banner }}
      {% endif %}
    </div>
</header>
{% endblock %}

{% block panel %}
  <section class="govuk-panel">
    <div class="govuk-width-container govuk-width-container--narrow">
      {{ page.full_width }}
    </div>
  </section>
{% endblock %}

{% block main %}
<div class="govuk-width-container govuk-width-container--narrow">

  <div class="govuk-main-wrapper">

    <section>
      {{ page.pre_content }}
    </section>

    <div class="govuk-grid-row">

      {% set content_class = 'govuk-grid-column-full' %}

      {% if page.sidebar_first or page.sidebar_second %}
        {% set content_class = 'govuk-grid-column-three-quarters' %}
      {% endif %}

      {% if page.sidebar_first and page.sidebar_second %}
        {% set content_class = 'govuk-grid-column-one-half' %}
      {% endif %}

      {% if page.sidebar_first %}
        <aside class="govuk-grid-column-one-quarter">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      <main class="{{content_class}}" id="main-content"  role="main">
      {{ page.content }}
      </main>

      {% if page.sidebar_second %}
        <aside class="govuk-grid-column-one-quarter">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}

    </div>

  </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer-main" role="contentinfo">
  <div class="govuk-width-container">
    {% if page.footer_one %}
    <div class="footer-main__nav">
      {{ page.footer_one }}
    </div>
    {% endif %}
    {% if page.footer_two %}
    <div class="footer-main__social">
      {{ page.footer_two }}
    </div>
    {% endif %}
    <div class="footer-main__go-to-website">
    <a href="https://www.nationalleadership.gov.uk" target="_blank">Go to NationalLeadership.gov.uk</a>
    </div>
    <a class="footer-main__crest__wrapper" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/" target="_blank">
    <div class="footer-main__crest">
    <img src="https://www.nationalleadership.gov.uk/static/img/govuk-crest-2x.png" alt="Government crest">
    <p><span>©</span>Crown copyright</p>
    </div>
    </a>
  </div>
</footer>
{% endblock %}