<article{{ attributes.addClass("nlc-content-block__card") }}>

  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes.addClass("nlc-content-block__item__name") }}>
      <a class="js-library-link" data-topic="{{ content.field_topic[0]['#plain_text'] | clean_class }}" data-label="{{ content.field_label[0]['#plain_text'] | clean_class }}" data-read-time="{{ content.field_read_time.0.value | clean_class }}" href="{{ content.field_url[0]['#url'] }}" target="_blank">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

<div class="nlc-content-block__topic nlc-content-block__topic--{{ content.field_topic[0]['#plain_text'] | clean_class }}">{{ content.field_topic }}</div>
<div class="nlc-content-block__details">
    <div class="nlc-content-block__label">{{ content.field_label }}</div>
    <div class="nlc-content-block__read-time">{{ content.field_read_time }}</div>
</div>
<div class="nlc-content-block__item__bio">{{ content.body }}</div>

</article>
