{% block content %}
  <div class="site-header__logo">
    <a href="/">

  {% if site_logo %}
    <img src="{{ site_logo }}" alt="{{ 'NLC Connect'|t }}" />
  {% endif %}
    </a>
  </div>

  {% if site_name %}
      {{ site_name }}
  {% endif %}

  {% if site_slogan %}
    <div class="site-header__content">
      <a href="{{ path('<front>') }}" class="site-header__link site-header__link--service-name" rel="home">
        {{ site_slogan }}
      </a>
    </div>
  {% endif %}
{% endblock %}
