{% block content %}
  <div class="site-header__logo">
    <a href="{{ path('<front>') }}" title="{{ 'Click to return to Home'|t }}" rel="home">

  {% if site_logo %}
    <image src="{{ site_logo }}" alt="{{ 'Click to return to Home'|t }}" />
  {% endif %}


    </a>
  </div>

  {% if site_name %}
    <span class="govuk-header__logotype-text">
      {{ site_name }}
    </span>
  {% endif %}

  {% if site_slogan %}
    <div class="govuk-header__content">
      <a href="{{ path('<front>') }}" class="govuk-header__link govuk-header__link--service-name" rel="home">
        {{ site_slogan }}
      </a>
    </div>
  {% endif %}
{% endblock %}
