{% for type, messages in message_list %}
  {% if type == 'error' %}
    <section class="govuk-panel" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <div class="govuk-width-container govuk-width-container--narrow">
        <h2 class="govuk-panel__title" id="error-summary-title">
          {{ 'There is an error'|t }}
        </h2>
        <div class="govuk-panel__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
  {% elseif type == 'warning' %}
    {% for message in messages %}
      <section class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">{{ 'Warning'|t }}</span>
          {{ message }}
        </strong>
      </section>
    {% endfor %}
  {% elseif type == 'status' %}
    {% for message in messages %}
      <section class="govuk-panel" role="status">
      <div class="govuk-width-container govuk-width-container--narrow">
          <div class="govuk-panel__body">
            {{ message }}
          </div>
        </div>
      </section>
    {% endfor %}
  {% endif %}
{% endfor %}
